In [2]:
import duckdb

In [6]:
import duckdb
import pandas as pd

!pip install duckdb pandas

In [22]:
# Example 1: Run a SQL query on a Pandas DataFrame
# sql query --> we use on MysQL, SQLite, PostgreSQL, etc.
# pandas DataFrame --> we use in Python for data manipulation, data frames are like tables

# conda install -c conda-forge duckdb
# pip install duckdb

df = pd.DataFrame({"id": [1, 2, 3], "value": [10, 20, 30]})
# result = duckdb.query("SELECT * FROM df WHERE value > 15").df()
result = duckdb.query("SELECT * FROM df WHERE value > 15").df()
print(result)

print(df)

   id  value
0   2     20
1   3     30
   id  value
0   1     10
1   2     20
2   3     30

In [23]:
# Example 2: Simple SELECT query
# SELECT 42 AS answer -> meaning of the line is to select the value 42 and label it as 'answer'
# This is a simple query that returns a single value
# duckdb.query() executes the SQL query and fetches the result
# .fetchall() retrieves all rows from the result set
print(duckdb.query("SELECT 42 AS answer").fetchall())

[(42,)]

In [8]:
# Example 3: Create a DuckDB table
# duckdb.query("CREATE TABLE items (name VARCHAR, price INTEGER)")
import duckdb
print(duckdb.query("SHOW TABLES").df())  # Show all tables in the DuckDB database
# duckdb.query("CREATE TABLE items (name VARCHAR, price INTEGER)")
print(duckdb.query("SHOW TABLES").df())

items_table = duckdb.query("SELECT * FROM items").df()
print(f"items_table : \n {items_table}")

    name
0  items
    name
0  items
items_table :
 Empty DataFrame
Columns: [name, price]
Index: []

In [9]:
# Example 4: Insert values
duckdb.query("INSERT INTO items VALUES ('Pen', 10), ('Book', 30)")

In [10]:
# Example 5: Select from table
print(duckdb.query("SELECT * FROM items").fetchdf())

   name  price
0   Pen     10
1  Book     30

In [11]:
# Example 6: Aggregate functions
print(duckdb.query("SELECT AVG(price) FROM items").fetchone())

(20.0,)

In [13]:
import pandas as pd
# Example 7: Join operations
users = pd.DataFrame({"id": [1, 2], "name": ["Alice", "Bob"]})
print(users)
scores = pd.DataFrame({"id": [1, 2], "score": [90, 85]})
print(scores)
query = "SELECT u.name, s.score FROM users u JOIN scores s ON u.id = s.id"
print(duckdb.query(query).df())

   id   name
0   1  Alice
1   2    Bob
   id  score
0   1     90
1   2     85
    name  score
0  Alice     90
1    Bob     85

In [14]:
# Example 9: Export to Pandas
data = duckdb.query("SELECT * FROM items").df()
print(data)

   name  price
0   Pen     10
1  Book     30

In [15]:
# Example 10: Using SQL functions
# LENGTH function to get the length of a string
# This is similar to the LENGTH function in MySQL, PostgreSQL, etc.
# It returns the number of characters in the string 'DuckDB'
# duckdb.query() executes the SQL query and fetches the result
# .fetchone() retrieves a single row from the result set
print(duckdb.query("SELECT LENGTH('DuckDB')").fetchone())

(6,)

In [16]:
import sqlite3

In [17]:
# Example 3: Logging instead of print debugging
import logging
logging.basicConfig(level=logging.DEBUG)
x = 5
logging.debug(f"x = {x}")

# Various logging levels
logging.info("This is an info message")
logging.debug("This is a debug message")
logging.warning("This is a warning message")
logging.error("This is an error message")
logging.critical("This is a critical message")

DEBUG:root:x = 5
INFO:root:This is an info message
DEBUG:root:This is a debug message
WARNING:root:This is a warning message
ERROR:root:This is an error message
CRITICAL:root:This is a critical message