In [2]:
# 1. Accessing elements
fruits = ["apple", "banana", "cherry"]
print(fruits[0])  # Output: apple
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [3]:
# 2. Adding elements
fruits.append("orange")
print(fruits)
# Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

In [4]:
# 3. Removing elements
fruits.remove("banana")
print(fruits)
# Output: ['apple', 'cherry', 'orange']

['apple', 'cherry', 'orange']

In [5]:
# 4. Slicing lists
numbers = [10, 20, 30, 40, 50]
print(numbers[1:4])
# Output: [20, 30, 40]

[20, 30, 40]

In [7]:
sq = []
for x in range(6):
    sq.append(x**2)
print(sq)

# 5. List comprehension
squares = [x**2 for x in range(6)]
print(squares)
# Output: [0, 1, 4, 9, 16, 25]

[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25]

Tuples

In [8]:
# 1. Accessing elements
colors = ("red", "green", "blue")
print(colors[1])  # Output: green

green

In [11]:
# 2. Nested tuples
nested = ((1, 2), (3, 4))
print(nested[0])    # Output: (1, 2)
print(nested[0][1]) # Output: 2
print(nested[1][0]) # Output: 3
print(nested[1][1]) # Output: 4

example2 = ([1,2], [3,4], [], [5,6], "John", "Doe", 7, 8, 9, 10, 11, 12, 13, 14, 15)
print(example2)

(1, 2)
2
3
4
([1, 2], [3, 4], [], [5, 6], 'John', 'Doe', 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [12]:
# 3. Tuple unpacking
point = (10, 20)
x, y = point
print(x)  # Output: 10
print(y)  # Output: 20

10
20

In [14]:
# 4. Single element tuple (note the comma)
single = (5,)
print(single)  # Output: (5,)
print(type(single))  # Output: <class 'tuple'>

(5,)
<class 'tuple'>

In [15]:
# 5. Using tuples as dictionary keys
my_dict = { 
    (1, 2): "point A", 
    (3, 4): "point B" 
    }
print(my_dict[(1, 2)])  # Output: point A

point A

In [19]:
numbers_till_five = (1, 2, 3, 4, 5)
print(numbers_till_five[0])  # Output: 1
print(numbers_till_five[1])  # Output: 2
print(numbers_till_five[2])  # Output: 3
print(numbers_till_five[3])  # Output: 4
print(numbers_till_five[4])  # Output: 5

print(id(numbers_till_five))
print(numbers_till_five)

numbers_till_five_ten = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(id(numbers_till_five))
print(numbers_till_five)

print(numbers_till_five)
print(numbers_till_five_ten)

1
2
3
4
5
1426925249424
(1, 2, 3, 4, 5)
1426925249424
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Sets in Python

In [20]:
my_set = {1, 2, 3}
print(my_set)  # Output: {1, 2, 3}


# empty_set = set()  # Note: {} creates an empty dictionary, not a set

{1, 2, 3}

In [25]:
empty_set = set()
print(type(empty_set)) 
print(empty_set)

empty_dict_flower_brackets = {}
print(empty_dict_flower_brackets)
print(type(empty_dict_flower_brackets))

<class 'set'>
set()
{}
<class 'dict'>

In [26]:
# 1. Creating and printing a set
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'banana', 'apple', 'cherry'}

{'cherry', 'banana', 'apple'}

In [34]:
fruits = {"apple", "apple", "apple", "apple", "banana", "cherry"}
print(fruits)

# print(fruits[0])
list_fruits = list(fruits)
print(list_fruits)  # Output: 'banana' (or 'apple', order is not guaranteed)

{'cherry', 'banana', 'apple'}
['cherry', 'banana', 'apple']

In [30]:
# 2. Adding elements to a set
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}

In [35]:
# 3. Removing elements from a set
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [36]:
# 4. Set operations: union and intersection
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))        # Output: {1, 2, 3, 4, 5}
print(a.intersection(b)) # Output: {3}

{1, 2, 3, 4, 5}
{3}

In [37]:
# 5. Checking membership
print("apple" in fruits)  # Output: True or False depending on current set contents

True

In [39]:
my_frozenset = frozenset([1, 2, 3, 2])
print(my_frozenset)  # Output: frozenset({1, 2, 3})
print(type(my_frozenset))  # Output: <class 'frozenset'>
print(id(my_frozenset))  # Unique identifier for the frozenset
print("------------------------------")

my_frozenset = frozenset([1, 2, 3, 4, 5])
print(my_frozenset)
print(type(my_frozenset))  
print(id(my_frozenset)) 
print("------------------------------")

normal_Set = {1, 2, 3, 2}
print(normal_Set)  # Output: {1, 2, 3, 4, 5}
print(type(normal_Set))  # Output: <class 'set'>
print(id(normal_Set))  # Unique identifier for the set
print("------------------------------")

normal_Set.add(4)
normal_Set.add(5)
print(normal_Set)  # Output: {1, 2, 3, 4, 5}
print(type(normal_Set))  # Output: <class 'set'>
print(id(normal_Set))  # Unique identifier for the set

frozenset({1, 2, 3})
<class 'frozenset'>
1426925959008
------------------------------
frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>
1426925955200
------------------------------
{1, 2, 3}
<class 'set'>
1426925959008
------------------------------
{1, 2, 3, 4, 5}
<class 'set'>
1426925959008

In [40]:
# 3. Using frozensets as dictionary keys (allowed because they are immutable)
fs1 = frozenset([1, 2])
fs2 = frozenset([3, 4])
my_dict = {
    fs1: "a", 
    fs2: "b"
    }
print(my_dict)

{frozenset({1, 2}): 'a', frozenset({3, 4}): 'b'}

Dictionaries in Python

In [49]:
my_dict = {
    "name": "Alice", 
    "name" : "Bob",
    "name2" : "Charlie",
    "name3" : "Charlie",
    "age": 30
    }

print(my_dict)
print(type(my_dict))  # Output: <class 'dict'>
print(id(my_dict))  # Unique identifier for the dictionary
print(my_dict["name"])  # Output: Alice
print(my_dict["age"])  # Output: 30


empty_dict = {}  # Empty dictionary
empty_set = set()  # Empty set

{'name': 'Bob', 'name2': 'Charlie', 'name3': 'Charlie', 'age': 30}
<class 'dict'>
1426932524224
Bob
30

In [50]:
my_dict["email"] = "abc@gmail.com"
print(my_dict)  # Output: {'name': 'Bob', 'name2': 'Charlie', 'name3': 'Charlie', 'age': 30, 'email': '

{'name': 'Bob', 'name2': 'Charlie', 'name3': 'Charlie', 'age': 30, 'email': 'abc@gmail.com'}

In [51]:
my_dict["age"] = 20
print(my_dict)  # Output: {'name': 'Bob', 'name2': 'Charlie', 'name3': 'Charlie', 'age': 20, 'email': '

{'name': 'Bob', 'name2': 'Charlie', 'name3': 'Charlie', 'age': 20, 'email': 'abc@gmail.com'}

In [52]:
for key, value in my_dict.items():
    print(key, ":", value)

name : Bob
name2 : Charlie
name3 : Charlie
age : 20
email : abc@gmail.com

Functions in Python

In [55]:
def greet():
    print("Hello, World!")

greet()
greet()
greet()
greet()
greet()
# # Output: Hello, World!

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [63]:
def add(a, b):
    return a + b

def print_Add(a, b):
    print(f"The sum of {a} and {b} is: {add(a, b)}")

def print_Add_master():
    print_Add(3, 5)
    print_Add(4, 4)
    print_Add(8, 9)
    print_Add(11, 12)

print_Add_master()

The sum of 3 and 5 is: 8
The sum of 4 and 4 is: 8
The sum of 8 and 9 is: 17
The sum of 11 and 12 is: 23

In [64]:
print_Add_master()

The sum of 3 and 5 is: 8
The sum of 4 and 4 is: 8
The sum of 8 and 9 is: 17
The sum of 11 and 12 is: 23

In [65]:
print_Add_master()

The sum of 3 and 5 is: 8
The sum of 4 and 4 is: 8
The sum of 8 and 9 is: 17
The sum of 11 and 12 is: 23

In [66]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1) #recursion -> recursive function call

print(factorial(5))
# Output: 120



# 5 * 4 * 3 * 2 * 1

120

In [ ]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        print(f"Calculating fibonacci({n})")
        return fibonacci(n-1) + fibonacci(n-2)  # recursive function call
    
print(fibonacci(5))  # Output: 5

# 1 1 2 3 5 8 13 21 34 55 89

Calculating fibonacci(5)
Calculating fibonacci(4)
Calculating fibonacci(3)
Calculating fibonacci(2)
Calculating fibonacci(2)
Calculating fibonacci(3)
Calculating fibonacci(2)
5

In [70]:
def greet_person(name="Guest"): #default argument / default parameter
    print(f"Hello, {name}!")

greet_person()

greet_person("Alice")

Hello, Guest!
Hello, Alice!

Iterators in Python

In [77]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

# Using an iterator to access elements
it = iter(numbers)
print(next(it))  # Output: 1
print(next(it))  # Output: 2
print(next(it))  # Output: 3
print(next(it)) # Output: 4
print(next(it))  # Output: 5
print(next(it))

[1, 2, 3, 4, 5]
1
2
3
4
5

StopIteration:

In [78]:

fruits = ["apple", "banana", "cherry"]
fruit_iter = iter(fruits)
print(next(fruit_iter))  # Output: apple
print(next(fruit_iter))  # Output: banana

apple
banana

In [79]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [80]:
class CountDown:
    def __init__(self, start):
        self.current = start

    def __iter__(self):
        return self

    def __next__(self):
        if self.current <= 0:
            raise StopIteration
        num = self.current
        self.current -= 1
        return num

cd = CountDown(3)
for num in cd:
    print(num)

3
2
1

In [ ]:
from collections.abc import Iterator

print(isinstance(it, Iterator))         # True
print(isinstance(nums, Iterator))       # False
print(isinstance(iter(nums), Iterator)) # True